CHIA_WORKSPACE_PATH=/nfs/homes/eyrin/chia-braggnn-workspace
CHIA_HEAD_IP=
CHIA_FIRESIM_IP=
CHIA_SSH_USER=
CHIA_HEAD_PRIVATE_KEY=/nfs/homes/eyrin/.ssh/id_ed25519
CHIA_FIRESIM_PRIVATE_KEY=/nfs/homes/eyrin/firesim.pem
GOOGLE_CLOUD_PROJECT=
GE_APP_ID=
CHIPYARD_PATH=/nfs/app/chipyard
HOST_UID=
HOST_GID=
VLSI_CADENCE_HOME=
CDS_LIC_FILE=
GENUS_BIN=
INNOVUS_BIN=
CADENCE_SETUP=
