CHIA_WORKSPACE_PATH=/nfs/homes/eyrin/chia-braggnn-workspace
CHIA_HEAD_IP=133.15.45.28
CHIA_HEAD_PRIVATE_KEY=/nfs/homes/eyrin/.ssh/id_ed25519
CHIA_FIRESIM_PRIVATE_KEY=/nfs/homes/eyrin/firesim.pem
GOOGLE_CLOUD_PROJECT=project-6b811b3d-3ae6-4611-b01
